.backdrop {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  // background-color: #1b1b1b2d;
  z-index:10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
