.profile-options {
  position: fixed;
  bottom: 2rem;
  background-color: var(--grey-900);
  color: var(--light);
  border-radius: 7px;
  overflow: hidden;

  & > div:not(:last-child) {
    border-left: 1px solid var(--grey-1000);
  }
  & > div {
    cursor: pointer;
    &:hover {
      background-color: var(--profile-button-hover-bg-color) !important;
    }
    @include transition(all, 150ms);
  }
}

.profile-link {
  cursor: pointer;
  &:hover {
    background-color: var(--profile-button-hover-bg-color) !important;
  }
  @include transition(all, 150ms);
}

.profile-link {
  cursor: pointer;
  &:hover {
    background-color: var(--profile-button-hover-bg-color) !important;
    color: var(--light) !important;
    path {
      color: var(--light) !important;
      @include transition(all, 150ms);
    }
    @include transition(all, 150ms);
  }
  @include transition(all, 150ms);
}
