$primary-lighter: #faeaee;
$primary-light: #ff9fc4;
$primary: #ee3f82;
$primary-main: #ca1259;
$primary-dark: #521a29;
$primary-darker: #15060a;
$dark: #1d1d1d;
$dark-light: #333333;
$danger: #ec0000;
$light: #ffffff;
$warning: #ff9800;
$warning-main: #ed6c02;
$success-lighter: #eff9f6;
$success-light: #a0c1b7;
$success: #36dfac;
$success-main: #bffce1;
$success-main-dark: #10a160;
$success-dark: #7b928b;
$success-darker: #072f23;
$secondary: #cd5eff;
$secondary-light: #b59ba3;
$secondary-dark: #9a8a8f;
$gold: #dfac00;
$gold-dark: #886a07;
$gold-darker: #292004;
$gold-light: #a89860;
$gold-lighter: #fcf2d4;
$info: #0099dd;
$info-main: #067aac;
$grey-100: #f4f5f6;
$grey-200: #ebeced;
$grey-300: #dee0e2;
$grey-400: #d2d4d7;
$grey-500: #b3b5b7;
$grey-600: #939597;
$grey-700: #737577;
$grey-800: #535557;
$grey-900: #333537;
$grey-1000: #212325;
$grey-100-light: #1111110e;
$grey-main: #7e7e7e;
